/* Limpieza total de estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Eliminamos las barras de desplazamiento */
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

/* Opcional: Estilo para que los enlaces no tengan subrayado globalmente */
a {
  text-decoration: none;
}